
body {
    background-color: #B3CDE0;
}

.flight-form {
    background-color: #005B95;
    padding: 2%;
    justify-content: right;
    width: 100%;
    color: white;
    border-radius: 8px; 
}

.flight {
    background-color: white;
    color: #031F4B;
    display: flex;
    margin: 10px;
    border-radius: 8px;
    padding: 2%;
}

.flight-search {
    display: flex;  
    width: 80%;
    height: 100%;
    margin-left: 10%;
}

.flight-sidebar {
    width: 40%;
    height: 100%;
    padding: 2%;
    margin-top: 3%;  
}

.flight-list {
    margin-top: 5%; 
    width: 50%;
}

.flight-details {
    margin-left: 1%;
}

.airline-logo {
    height: 50px;
}

.program-logo {
    height: 70px;
}

.map {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 5%;
}

.fixed-div {
    position: fixed;
}

.center-form {
    background-color: #005B95;
    width: 50%;
    border-radius: 8px;
    padding: 2%;
    margin-top: 5%;
    margin-left: 25%;
    color: white;       
}

.wallet-header {
    background-color: #031F4B;
    color: white;
}

.wallet-name {
    text-align: center;
}

.program-name { 
    color: white;
}